<p>{{task}}</p>
<!-- <input type="text" (input)="addTask($event)"> -->

<!-- Two way binding -->
<!-- <input type="text" class="form-control"
[(ngModel)]="task"
>
<select [(ngModel)]="selectedOption">
    <option value="option1">Option 1</option>
    <option value="option2">Option 2</option>
    <option value="option3">Option 3</option>
  </select>
  <p>Selected option: {{ selectedOption }}</p> -->

<input type="text" class="form-control" [(ngModel)]="name"> 
<p *ngIf="newTaskAdded; else noServer">New Task is: {{name}}</p>
<ng-template #noServer> 
  <p>No server was created</p>
</ng-template>
<button class="btn btn-primary"[disabled]="name===''"(click)="addTask(name)">Update</button>
